@font-face {
  font-family: "Good Brush";
  src: url(~/assets/fonts/GoodBrush.woff) format("woff");
}

@font-face {
  font-family: "Recoleta";
  src: url(~/assets/fonts/Recoleta-RegularDEMO.otf) format("opentype");
}

@font-face {
  font-family: "Aktura";
  src: url(~/assets/fonts/Aktura-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Instrument Serif";
  src: url(~/assets/fonts/InstrumentSerif-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Instrument Serif";
  font-style: italic;
  src: url(~/assets/fonts/InstrumentSerif-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  src: url(~/assets/fonts/Lora-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  src: url(~/assets/fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url(~/assets/fonts/Inter-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url(~/assets/fonts/Inter-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "ArticulatCF";
  src: url(~/assets/fonts/ArticulatCF-Regular.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "ArticulatCF";
  src: url(~/assets/fonts/ArticulatCF-Medium.woff2) format("woff2");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "ArticulatCF";
  src: url(~/assets/fonts/ArticulatCF-SemiBold.woff2) format("woff2");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "ArticulatCF";
  src: url(~/assets/fonts/ArticulatCF-Bold.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "ArticulatCF";
  src: url(~/assets/fonts/ArticulatCF-Extrabold.woff2) format("woff2");
  font-display: swap;
  font-weight: 800;
}

@font-face {
  font-family: __fontArticulatCF_Fallback_389ac1;
  src: local("Arial");
  ascent-override: 91.58%;
  descent-override: 25.59%;
  line-gap-override: 0%;
  size-adjust: 99.81%;
}

@font-face {
  font-family: "ITC Clearface Std";
  src: url(~/assets/fonts/ITC-Clearface-Std-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Fakt Pro";
  src: url(~/assets/fonts/FaktPro-Normal.woff) format("woff");
}

@font-face {
  font-family: "Fakt Pro";
  src: url(~/assets/fonts/FaktPro-Semibold.otf) format("opentype");
  font-weight: 500;
}
